.selectContainer, .selectContainer option{
    margin-top: 50px;
    margin-bottom: 30px;
    width: 450px;
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
}


.containerList, .containerInsert, .containerUpdate {
    display: inline-block;
    padding: 10px;
    width: 200px;
    margin: 20px;
    border-radius: 20px;
    background-color: white;
}

.containerInsert:hover, .containerList:hover, .containerUpdate:hover {
    cursor: pointer;
    background-color: rgba(255,255,255,0.13);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
}


